@import "../../theme/variables.scss";

:host {
  display: flex;
  flex: 1;
}

mat-toolbar {
  z-index: 100;
  position: fixed;
  top: 0;
}

// mat-sidenav-content {
//   margin-top: 40px;
// }

.mat-sidenav {
  min-width: 260px;
  max-width: 260px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

mat-sidenav-container {
  margin-top: 64px;
}

.mat-list {
  padding-top: 0;
}

.mat-list-item {
  text-decoration: none;
  font-size: 15px;

  border-left: transparent 6px solid;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}
a.menuItem > .mat-list-item.content {
  padding: 0 2px !important;
}

.menu-button {
  margin-right: 1rem;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
  border-left: transparent 6px solid;
}

.mat-expansion-panel-header {
  padding-right: 16px;
  padding-left: 3px;
}

.userDisplayName {
  margin-left: auto;
  font-size: 15px;
  font-weight: 300;
}

.menuItemIcon {
  margin-left: 10px;
  color: $secondary-text-color;
}

.menuItemLabel {
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px;
  color: $secondary-text-color;
}

.mat-expansion-panel-header > span.mat-content > mat-panel-title > span {
  align-self: center;
}

span {
  align-self: center;
}

.active {
  border-left-color: $primary-color;
}

.active .menuItemIcon {
  color: $primary-color;
}

.active .menuItemLabel {
  color: $primary-color;
}

nav {
  margin-top: 23px;
}

.logo {
  font-size: 30px;
  font-family: "Lobster", cursive;
}

a.sidenavExpansionItem {
  height: 25px;
  margin-bottom: 11px;
}
