<div fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" [disableClose]="!isMobile"
                 ngClass.gt-sm="has-border">
      <mat-toolbar color="primary" class="logo mat-elevation-z5">
        <span>E-Narudžbenice 2</span>
        <div fxFlex></div>
      </mat-toolbar>
      <nav>
        <mat-list>

          <!-- POČETNA -->
          <a mat-list-item routerLink="/Home" routerLinkActive="active" (click)="isMobile && sidenav.close()" class="menuItem">
            <mat-icon class="menuItemIcon">home</mat-icon>
            <span class="menuItemLabel">Početna</span>
          </a>

          <!-- NARUDŽBENICE -->
          <a mat-list-item routerLink="/Narudzbenice" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon class="menuItemIcon">event_note</mat-icon>
            <span class="menuItemLabel">Narudžbenice</span>
          </a>

          <!-- PREDLOŠCI -->
          <a mat-list-item routerLink="/Predlosci" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon class="menuItemIcon">library_books</mat-icon>
            <span class="menuItemLabel">Predlošci</span>
          </a>

          <!-- ŠIFRARNICI -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="menuItemIcon">list</mat-icon>
                <span class="menuItemLabel">Šifrarnici</span>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list>
                <!--  Adrese -->
              <a mat-list-item routerLink="/Adrese" routerLinkActive="active" (click)="isMobile && sidenav.close()" class="sidenavExpansionItem">
                <span class="menuItemLabel">Adrese</span>
              </a>

              <!--  Djelatnosti -->
              <a mat-list-item routerLink="/Djelatnosti" routerLinkActive="active" (click)="isMobile && sidenav.close()" class="sidenavExpansionItem">
                <span class="menuItemLabel">Djelatnosti</span>
              </a>

              <!--  Vrste narudžbenica -->
              <a mat-list-item routerLink="/VrsteNarudzbenica" routerLinkActive="active" (click)="isMobile && sidenav.close()" class="sidenavExpansionItem">
                <span class="menuItemLabel">Vrste narudžbenica</span>
              </a>
            </mat-list>



          </mat-expansion-panel>

          <!-- ADMINISTRACIJA -->
          <a mat-list-item routerLink="/Administracija" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon class="menuItemIcon">settings</mat-icon>
            <span class="menuItemLabel">Administracija</span>
          </a>

          <!-- UPUTE ZA UPORABU -->
          <a mat-list-item routerLink="/Upute" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon class="menuItemIcon">import_contacts</mat-icon>
            <span class="menuItemLabel">Upute za uporabu</span>
          </a>

        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="mat-elevation-z5">
        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span class="logo" fxHide.gt-sm>E-Narudžbenice 2</span>
        <span class="userDisplayName" fxHide fxShow.gt-sm>{{userDisplayName}}</span>
        <div class="userMenuIcon">
          <button mat-icon-button [matMenuTriggerFor]="userMenu">
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #userMenu="matMenu">
            <mat-list>
              <mat-list-item>
                <span>Prijavljen kao</span>&nbsp;<b>{{username}}</b>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
            <button mat-menu-item (click)="logout()">Odjava</button>
          </mat-menu>
        </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
