/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// stylelint-disable-next-line selector-max-universal

* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

// SHELL > NAVMENU
// item
body > en2-root > en2-shell > div > mat-sidenav-container > mat-sidenav > nav > mat-list > a.mat-list-item > div {
  padding: 0 2px !important;
}
// expansionItem
body > en2-root > en2-shell > div > mat-sidenav-container > mat-sidenav > div > nav > mat-list > .mat-expansion-panel {
  margin-left: 13.2px;
}
