@import '../../../theme/variables.scss';

.container {
  height: 100%;
  min-width: 200px;
  border: $divider-color 1px solid;
}

.fill-space {
  flex: 1 1 auto;
}

.close-menu-icon {
  font-size: 24px;
  margin-top: 0.4px;
}

.main-toolbar {
  position: fixed;
  z-index: 3;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

.toolbar {
  height: 54px;
}

.app-name {
  font-family: 'Lobster', 'cursive';
  font-size: 24px;
}

.sidenav-content {
  padding-top: 54px;
}

mat-sidenav {
  border: none;
}

.sidenav {
   user-select: none;
   width: 250px;
}

.full-width {
  width: 100%;
}

.userDisplayName {
  font-size: 15px;
  font-weight: 100;
}

.bottomSidenav {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: $divider-color 1px solid;
  color: $sidenav-text-color;
}
