@import '../../../theme/theme-variables.scss';

.content-layout {
  height: 100%;
}

.container-card {
  padding: 12px;
}

.container-card-header {
  padding-top: 2px;
  display: flex;
  margin: 0;
}

.container-card-content {
  margin-top: 32px;
}

.card-header {
  display: flex;
}

.header-icon {
  font-size: 48px;
  color: mat-color($app-primary);
}

.header-text {
  margin-left: 35px;
  margin-top: 14px;
}

mat-divider {
  position: unse;
}
