@import '../../../../theme/theme-variables.scss';

.menu-list-item-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.menu-list-item-content-icon {
  font-size: 21px;
}

.menu-list-item-content-text {
  font-size: 12.4px;
  margin-left: 15px;
}

.menu-list-item-content-caret {
  margin-left: 10px;
}

.router-link-active {
  background-color: #0c0c0c0f;
  box-shadow: inset 3.5px 0 0 mat-color($app-accent);
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}



