.container {
  text-align: center;
  padding: 0.6rem;
}

.header {
  text-align: left;
}

.mat-icon {
  vertical-align: middle;
}

table {
  width: 100%;
}

.mat-cell {
  text-align: left;
}

.mat-card-header {
  background: #009688;
  color: white;
}

::ng-deep .mat-card-header {
  background-color: #448aff !important;
  padding: 10px !important;
}

::ng-deep .mat-card {
  padding: 0 !important;
}

::ng-deep .mat-card-content {
  padding: 10px !important;
}

.mat-card-title {
  margin: 11px;
}
